---
import ProjectCard from "../components/ProjectCard";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="grid grid-cols-4 gap-4">
    <ProjectCard
      title="Example Project"
      description="This is a sample project description to demonstrate the ProjectCard component"
      views={1234}
      likes={56}
      picture="https://placehold.co/600x400"
      icon="https://placehold.co/100x100"
      tags={["Sample", "Demo", "Project"]}
    />
    <ProjectCard
      title="Example Project"
      description="This is a sample project description to demonstrate the ProjectCard component This is a sample project description to demonstrate the ProjectCard component This is a sample project description to demonstrate the ProjectCard component"
      views={12312}
      likes={565}
      picture="https://placehold.co/600x400"
      icon="https://placehold.co/100x100"
      tags={["Next.JS", "Demo", "Project"]}
    />
  </section>
</Layout>
