---
import Aside from "../components/Aside";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body id="app">
    <Aside />
    <header class="bg-blue-500 [grid-area:header]">HEADER</header>
    <main class="bg-green-500 [grid-area:main]">MAIN</main>
  </body>
</html>

<style>
  #app {
    display: grid;
    grid-template-areas:
      "aside header"
      "aside main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }
</style>
